<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UI</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    <tr>
        <td>
            <form th:text="${user.getName()}"></form>
        </td>
        <td>
            <form th:text="${user.getLastName()}"></form>
        </td>
        <td>
            <form th:text="${user.getAge()}"></form>
        </td>
        <td>
            <form th:text="${user.getEmail()}"></form>
        </td>
    </tr>
    </thead>
</table>
<form margin="0" th:action="@{/logout}">
    <input type="submit" class="btn btn-primary btn-block" value="Logout?">
</form>
</body>
</html>